body
{
 background-size: cover;
 background-position: center;
}

.heading
{
font-size: 25px;
width: 100%;
margin: 0px;
font-family: cursive;
color: rgb(222, 220, 235);
font-stretch: expanded;
content: icon;
text-decoration-line: underline;
text-decoration-color: darksalmon;
text-shadow: 5px;
}

#note 
{
    font-size: 19px;
    font-family: monospace;
    text-decoration-line: underline;
    text-decoration-color: rgb(148, 216, 146);

}

input
{
  margin-right: 20px;
border-radius: 30%;
}

.object_div
{
  background: rgb(220, 196, 200);
  padding: 10px;
  float: none;
  border-radius: 15px;
}


#object_div
{
display: inline-block;
margin-left: 20px;
}

#button_start
{
 font-size: 18px;
box-shadow:  rgb(180, 193, 245);
}

canvas
{
 border: 10px solid rgb(231, 152, 219);
 border-radius: 10px;
 margin-top: 200px;
 
}

